.container > div {
      padding: 10px;
      text-align: center;
      font-size: 2em;
      color: beige;
      font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap");
  font-style: bold;
  font-weight: 100%
}

html, body {
      box-sizing: border-box;
      background-color:beige;
      height: 100%;
      padding: 10px;
}

.container > div:nth-child(1) {
      background-color: cadetblue;
}

.container > div:nth-child(2) {
      background-color: salmon;
}

.container > div:nth-child(3) {
      background-color: cadetblue;
}