/* ----------------- Header Style -------------------- */
.container{
      display: flex;
      justify-content: center;      
}

.container > div {
      flex: 1 1 auto;      
}

.topnav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 1.3em;
    }
    
    .topnav .search-container {
      float: right;
    }
    
    .topnav input[type=text] {
      padding: 4px;
      margin-top: 8px;
      margin-right: 50px;
      font-size: 1.2em;
      border: 1px;
      background-color:#4F4D53;
      color: white;
    }
    
    .topnav .search-container button {
      float: left;
      padding: 7px 8px;
      margin-top: 8px;
      background: #4F4D53;
      font-size: 1.1em;
      border:none;
      cursor: pointer;
      color: white;
    }
    .topnav .search-container button:hover {
      background: #ccc;
    }



/* ----------------- Body Style -------------------- */
.all3 {
      display: flex;
      justify-content:space-evenly ;
      align-content: center;
      width: 500px;
      margin: 0 auto;
}
.portrait {
      border-radius: 50%;
      height: 100px;
      width: 100px;
}

 .context {
       margin: 0 auto;
       text-align: center;
       width: 500px;
 }

 .sub-heading {
      color: #E8BE02;
      padding: 20px;
      font-size: 2em;
 }

 .display-text {
      font-size: 3em;
      font-family: 'Roboto', sans-serif;
      font-weight: bolder;
      margin: -200 auto;
      padding-bottom: 290px;
      color:  #4F4D53;
      width: 500px;
      text-align: center;
 }

 /* ----------------- Contacts Style -------------------- */
 .contacts {
            display: flex;
            justify-content:space-evenly ;
            align-content: center;
            width: 600px;
            margin: 0 auto;
            
            
 }

 .ladies {
      border-radius: 50%;
      height: 60px;
      width: 60px;
      padding: 20px;
      
}

.contact-name {
      color:#E8BE02;
      font-weight: bold;
      font-size: 1.1em;
}

.contacts  > div > p {
    
      display: block;
      float: right 200px;
     
     
}

/* ----------------- Footer Style -------------------- */
    .footer {
          background-color:#4F4D53;
      border-top: 10px solid gold;
      display: flex;
      box-sizing: border-box;
      justify-content: space-around;
      flex-direction: row;
    }

    .quarter-footer > a {
          display: flex;
          flex-direction: column;
          color: white;  
    }

    .quarter-footer > h3 > a {
          color: white;
    }

    h3 {
          color:#E8BE02;
          padding: 10px 0;
    }
  
    
    