.container > div {
  padding: 5px;
  text-align: center;
  font-size: 1em;
  color:white;
  font-family: 'Roboto', sans-serif;
src: url("https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap");
font-style: bold;
font-weight: 100%
}

html, body {
  box-sizing: border-box;
  background-color:beige;
  height: 100%;
  padding: 10px;
  max-width: 1000px;
  margin: 0;
}

.container > div:nth-child(1) {
  background-color:grey;
}

.container> div:nth-child(2) {
  background-color: rgb(86, 85, 85);
  margin: 0;
  padding:0;
 




/* Global
------------------------------------------------*/
/* html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  color: black;
  
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
} */

/* Main
------------------------------------------------*/
/* .main-container{
  color: black;
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.main-display-middle {
  color: rgb(109, 100, 100);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
 position: absolute;
  top: 30% ;
  left: 50%; 
  transform: translate(-50%, -50%);
  font-size: 3em;
  text-align: center;
}
.sub-heading{
  color: #E8BE02;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.content {
 width: 50%;

  border:#E8BE02; 
  border-width: 5px;
  border-color: yellow;
}

.portrait {
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}
@font-face {
  font-family: 'Roboto', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap");
  font-style: bold;
  font-weight: 100%
  
} */
/* Header
------------------------------------------------*/
/* header {
  background-color: grey;
  color: white;
  flex: 1 0 100%;
} */

/* Footer
------------------------------------------------*/
/* footer {
  background-color: grey;
  border: #E8BE02;
  color: white;
  flex: 1 0 100%;

} */